<h2>My Heroes</h2>

<div>
  <label
    >Note name:
    <input #noteName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(noteName.value); noteName.value=''">
    add
  </button>
</div>

<ul class="notes">
  <li *ngFor="let note of notes">
    <a routerLink="/detail/{{note.id}}">
      <span class="badge">{{note.id}}</span> {{note.name}}
    </a>
    <button class="delete" title="delete note" (click)="delete(note)">x</button>
  </li>
</ul>
